<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_jY6p3yGxe02glThDOcr89hCDVJxSFXk</string>
	<key>GCM_SENDER_ID</key>
	<string>496653278686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>student.developer.jinhyeon.gitmate</string>
	<key>PROJECT_ID</key>
	<string>gitmate-add2e</string>
	<key>STORAGE_BUCKET</key>
	<string>gitmate-add2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496653278686:ios:0728ca8989f86b3fa4d14f</string>
</dict>
</plist>